{% extends "users/base.html" %}	
{% block content %}

	<div class="container">
		{% if blocked_users.count > 0 %}
			<div class="col-sm text-info my-4">
				<h3>
					Blocked Users: 
				</h3>				
			</div>
			{% for u in blocked_users %}
				<div class="row mt-2">
					<div class="col-sm-6 border border-secondary rounded">
						<div class="row bg-light">
							<div class="col-sm-1 mt-2 mb-1 ml-3">
								<img src="{{ u.profile.display_picture.url }}" alt="Display Picture" class="rounded-circle" style="width:35px;">
							</div>
							<div class="col-sm-5 mt-1 ml-4">
								<div class="row font-weight-bold">
									@{{u.username}}
								</div>
								<div class="row">
									{{u.profile.first_name}} {{u.profile.last_name}}
								</div>
							</div>
							<a href="{% url 'other-users-profile' id=u.id %}" class="stretched-link">
							</a>
						</div>
					</div>

					<div class="col-sm-2 my-2 ml-2">
						<button type="button" class="block-button btn btn-dark btn-sm" ajax-url="{% url 'block-users' id=u.id action='unblock'%}">
							Unblock User
						</button>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div class="col-sm text-info mt-4">
				<h3>
					No Blocked Users
				</h3>				
			</div>
		{% endif %}

	</div>

{% endblock content %}
