{% extends "users/base.html" %}
{% load crispy_forms_tags %}	
{% block content %}

	<div class="container mt-3">
		<h1 class="font-weight-bold text-center">WELCOME</h1>	
		<div class="row justify-content-center">
			<div class="col-sm-5">
				<form method="POST" id="login">
					<div class="form-group">
						{% csrf_token %}
						{{ form|crispy }}
					</div>
					<div class="row mt-2 ml-1">
						<button type="submit" class="btn btn-dark btn-sm">
							Sign In
						</button>
					</div>
					<div class="small">
						<div class="row ml-1 mt-2"> 
							<a class="font-weight-bold text-info" href="{% url 'password_reset' %}">Forgot password?
							</a>
						</div>
						<div class="row ml-1">
							<a  class="font-weight-bold text-info" href="{% url 'init' %}">
								New here? Sign Up
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}