{% if mode == 'count' %}	
	{% if notifications_count %}
		<span id="notification-count-value" class="badge bg-light border border-light rounded-circle"  data-last="{{ last }}">
  			{{ notifications_count }}
  		</span>
  	{% endif %}

{% elif mode == 'body' %}
	{% if notifications %}
		{% for n in notifications %}
			<a href="{% url 'other-users-profile' id=n.from_user.id %}" class="dropdown-item text-info notification-link">
				<b>@{{ n.from_user.username }}</b> has {{ n.get_type_display }}
			</a>
		{% endfor %}

	{% else %}
		{% for n in all_notifications %}
			<a href="{% url 'other-users-profile' id=n.from_user.id %}" class="dropdown-item text-info notification-link">
				<b>@{{ n.from_user.username }}</b> has {{ n.get_type_display }}
			</a>
		{% endfor %}
	{% endif %}
{% endif %}
