{% extends "users/base.html" %}	
{% block content %}
	
	{% if has_friends %}
		<div class="container mt-3">
			<div class="row">
				<div class="col-sm-5 input-group">
					<input type="search" id="search-friends" class="form-control" autocomplete="off" placeholder="Search your friends here" data-ajax-url="{% url 'search-friends-ajax' %}">
					<div class="input-group-append">
				  		<span class="input-group-text fa fa-search"></span>
				  	</div>
				</div>
				<div class="col-sm-5 ml-5">
					<h4 class="font-weight-bold font-italic">
						Friends :&nbsp;
						<span class="badge badge-info">
							{{ user.friends.count }}	
						</span>
					</h4>
				</div>
			</div>
			<div id="search-results-friends" class="container-fluid mt-4">
			</div>
		</div>
	{% else %}
		<div class="container-fluid mt-3 text-info">
			<h3>
				You don't have any friends yet.
			</h3>
			<h3 class="mt-4">
				Explore other users to find new friends!
			</h3>
		</div>
	{% endif %}
{% endblock content%}
